.contact-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: 50px auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info, .contact-form {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
}

.contact-info {
    background-color: #427ec3;
    color: white;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info h4 {
    margin-top: 0;
    color: orange;
}

.contact-info p {
    margin-top: 5vh;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005599;
}