.text-overlay h3 {
    animation: fadeInDown 0.9s ease forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

.text-overlay h1 {
    animation: fadeInLeft 0.9s ease forwards;
}

.text-overlay p {
    animation: fadeInUp 0.9s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
}


@keyframes fadeInDown {
  0% {opacity: 0; transform: translateY(-5vw);}
  100% {opacity: 1; transform: translateY(0);}
}

@keyframes fadeInLeft {
  0% {opacity: 0; transform: translateX(-5vw);}
  100% {opacity: 1; transform: translateX(0);}
}

@keyframes fadeInUp {
  0% {opacity: 0; transform: translateY(5vw);}
  100% {opacity: 1; transform: translateY(0);}
}
